<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dirt</key>
	<dict>
		<key>ground</key>
		<string>groundDirt</string>
		<key>moutainUp</key>
		<string>MoutainDirt</string>
		<key>moutainDown</key>
		<string>MoutainDirtDown</string>
	</dict>
    <key>Grass</key>
    <dict>
        <key>ground</key>
        <string>groundGrass</string>
        <key>moutainUp</key>
        <string>MoutainGrass</string>
        <key>moutainDown</key>
        <string>MoutainGrassDown</string>
    </dict>
    <key>Ice</key>
    <dict>
        <key>ground</key>
        <string>groundIce</string>
        <key>moutainUp</key>
        <string>MoutainIce</string>
        <key>moutainDown</key>
        <string>MoutainIceDown</string>
    </dict>
    <key>Snow</key>
    <dict>
        <key>ground</key>
        <string>groundSnow</string>
        <key>moutainUp</key>
        <string>MoutainSnow</string>
        <key>moutainDown</key>
        <string>MoutainSnowDown</string>
    </dict>
</dict>
</plist>
